# Redirect /investormeeting to Zoom webinar registration
RewriteEngine On
RewriteRule ^investormeeting/?$ https://us06web.zoom.us/j/84760948421?pwd=pCCCxZRFqTxdfpNkbaduizxOYY8wQI.1 [R=301,L]
RewriteRule ^product/?$ product.html [R=301,L]

